<h1> Smart Diet </h1> <br>

<h2> Calculadora de Calorias </h2>
  
  <div id="calculo">
   <p>Peso (Quilos):</p>
  <input type="text" id="peso" name="peso"><br>
  <p id="asa">Altura (Centímetros):</p>
  <input type="text" id="altura" name="altura"><br>
   <p>Idade:</p>
  <input type="text" id="idade" name="idade"><br>
  <p>Sexo:</p>
  <input type="radio" id="masculino" name="sexo" value="masculino" checked> <label for="masculino">Masculino</label>
  <input type="radio" id="feminino" name="sexo" value="feminino"> <label for="feminino">Feminino</label>
   <p>Meta (Quilos):</p>
  <input type="text" id="meta" name="meta"><br>
  <p>Tempo (Semanas):</p>
  <input type="text" id="tempo" name="tempo"><br><br>
   <button onclick = calculaBasal()>Calcular</button><br>
   <p></p>
   <button onclick= redirecionar(url)>Dieta Recomendada</button> <br>
   
   </div>
 <script>

  const res = document.createElement("Label");
  document.getElementById('calculo').appendChild(res);    
  res.innerHTML = null;
  var url = null;

  function calculaBasal(){
    let peso = document.getElementById("peso").value;
    let altura = document.getElementById("altura").value;
    let idade = document.getElementById("idade").value;
    let meta = document.getElementById("meta").value;
    let tempo = document.getElementById("tempo").value;
    if (isNaN(peso)||isNaN(altura)||isNaN(idade)||isNaN(meta)||isNaN(tempo)){
      res.innerHTML = "Apenas números, por favor";
      return;
    }
    var basal = null;
    var calDif = null;
    var calMeta = null;
    if(document.getElementById("masculino").checked){
      basal = 66 + (13.8 * peso) + (5 * altura) - (6.8 * idade);
    }
    else if(document.getElementById("feminino").checked){
      basal = 655 + (9.6 * peso) + (1.8 * altura) - (4.7 * idade);
    }
    var dif = 0;
    if(peso == meta){
      res.innerHTML = "Você já atingiu sua meta."
      return;
    }else
    if(peso < meta){
      dif = meta - peso;
      calDif = dif * 3500;
      calMeta = basal + (calDif/tempo)/7
    }
    else if(peso > meta){
      dif = peso - meta;
      calDif = dif * 3500;
      calMeta = basal - (calDif/tempo)/7
    }
    if(calMeta < 1000){
    res.innerHTML = "Não é possível atingir seu objetivo no prazo";
    } else{
      res.innerHTML = "Seu metabolismo basal é de " + basal + " calorias, para atingir sua meta, deverá ingerir " + calMeta + " calorias por dia.";
    }
    assertEqual(calMeta, "Teste Meta");

    if (calMeta > 1000 && calMeta < 1300){
      url = "/dieta/1";
  }

    else if (calMeta > 1300 && calMeta < 1750){
    url = "/dieta/2";
  }

  else if (calMeta > 1750 && calMeta < 2100){
    url = "/dieta/3";
  }  

  else if (calMeta > 2100 && calMeta < 2600){
    url = "/dieta/4";
  }

  else if (calMeta > 2600){
    url = "/dieta/5";
  }

}

function assertEqual(actual, testName) {
	if (isNaN(actual)) {
		//log a passing message
		console.log ('Failed: ' + testName + '; actual value: ' + actual + '; expected value: Number');
	} else {
		//log a failing message
		console.log('Passed!');
	}
}
 

function redirecionar(url){
 
  if (url == null){
    window.location.assign("/calculadora");
    return;
  }

  window.location.assign(url);
}


/* Mulher TMB = 655 + (9,6 x peso em kg.) + (1,8 x altura em cm) - (4,7 x idade em anos)*/

/* Homem TMB = 66 + (13,8 x peso em kg.) + (5 x altura em cm) - (6,8 x idade em anos) */
  
</script>
