<!DOCTYPE html>
<html lang="pt-br">

<body> 
 <h1> Smart Diet
 
  <br></br>
  <h3>Olá! Você pode descobrir quanto de calorias diárias você precisa consumir para alcançar a sua tão desejada meta de peso no período desejado.</h3>
  <h3>Além disso, após o cálculo, você poderá receber uma <strong style="color: #AA8800">dieta recomendada</strong> baseada no seu objetivo.</h3>

   <br></br>
   <h3>Aqui você pode acessar a <a href="calculadora" style="color: #0000FF">Calculadora</a><br> </h3>
   
   <h3>Aqui você, nutricionista, pode se cadastrar para trabalhar conosco: <a href="nutricionista/new" style="color: #0000FF">Cadastrar Nutricionista</a><br></h3>
   

  <br></br>
  <h3>Quer um <strong style="color: #FF0000">atendimento personalizado</strong>?
  <a href= "consulta/new" style="color: #0000FF">Solicite uma consulta particular com nossos especialistas!</a><br> </h3>
   <script>

   </script>

  </body>
</html>