<!DOCTYPE html>
<html lang="pt-br">

<body> 
 <h1> Smart Diet
 
  <br></br>
  <h3>Olá! Você pode descobrir quanto de calorias diárias você precisa consumir para alcançar a sua tão desejada meta de peso no período desejado.</h3>
  <h3>Além disso, após o cálculo, você poderá receber uma <strong style="color: #AA8800">dieta recomendada</strong> baseada no seu objetivo.</h3>

   <br></br>
   <h3>Aqui você pode acessar a <%= link_to "Calculadora", "calculadora" %></h3>
   
   <h3>Aqui você, nutricionista, pode se cadastrar para trabalhar conosco: <%= link_to "Cadastrar Nutricionista", "nutricionista/new" %></h3>

  <br></br>
  <h3>Quer um <strong style="color: #FF0000">atendimento personalizado</strong>?
  <%= link_to "Solicite uma consulta particular com nossos especialistas!", "consulta/new" %>
   <script>

   </script>

  </body>
</html>