<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../assets/stylesheets/index.css">
  </head>
 <div id='main'>
 <h1> Smart Diet
 </div>
   <a href="calculadora">Calculadora</a><br>
   <a href="nutricionista/new">Cadastrar Nutricionista</a><br>
   <script>

   </script>

  </body>
</html>