<h1>Smart Diet - Consulta Particular</h1>

<h2>Marque uma consulta com um dos nossos especialistas!</h2>

<h4>Preencha os campos abaixo. Entraremos em contato através do e-mail cadastrado.</h4>

<%= render 'form', consultum: @consultum %>

<%#= link_to 'Back', consulta_path %>
